@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;700&display=swap');

body{
  font-family: 'IBM Plex Mono', monospace;
  color: #00FF01;
  background-color: #000000;
}
a{
  color: #00FF01;
  text-decoration: none;
}

.centered-container{
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.follow-me-text{
  display: flex;
  color: white;
  margin-left: -75px;
}

.name-text{
 font-size: 125%;
  margin-left: -75px;
  color: white;
}

.follow-me-links{
  display: flex;
  flex-direction: column;
}

.link{
  padding-right: 20px;
}

.pikachu {
  max-width: 200px;
  max-height: 100px;
  margin-bottom: -30px;
  margin-top: -40px;
  margin-left: -40px;

}
.pikachu-text{
  margin: 0px;
}

.typewriter-animation-container{
  display: flex;
  flex-direction: row;
}
@-webkit-keyframes underscore-blink {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

.typewriter-underscore{
  display: flex;
  color: #00FF01;
  font-size: 130%;
  font-weight: bold;
  margin-left: 4px;
  text-decoration: blink;
  -webkit-animation-name: underscore-blink;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;

}

